@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&display=swap");

.team-name-z {
  /* font-family: "Barlow Condensed", sans-serif;
  font-weight: 400 !important;
  letter-spacing: -0.3px;
  line-height: 1; */
}
